html, body {
    margin: 0;
    height: 100%;
}

.instrument{
    display: flex;
    padding-bottom: 10px;
}

img {
    height:35px;
}

.instrument button{
    background-color: black;
    width: 50px;
    margin: auto;
    border-style: none;
}

.beatBox{
    border-color:black;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(248, 252, 255, 0.749);
    width: 30px;
    height: 35px;
    cursor: pointer;
    margin-right: auto;
    border-radius: 5px;
}
.beatBox.clicked{
    background-color: red;
}

.beatBox:hover {
    filter: brightness(85%);
}

#beatCheckboxes{
    width:80%;
    display: inline;
}

.squareNoText{
    width: 3.125%;
    float: right;
    text-align: center;
}

.squareNoText.current{
    background-color: antiquewhite;
}

#squareNo{
    width: 95.5%;
    float: right;
    background-color: #303236;
    border-radius: 5px;
}