* {
    font-family: "Raleway", sans-serif;
}

body {
    display: absolute;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #000000;
}

h1 {
    color: #FFFFFF;
    text-align: center; 
}

ul {
    position: relative;
    text-align: center;
    display: flex;
    cursor: pointer;
    list-style-type: none;
    height: 100%;
}

li {
    position: relative;
    display: inline;
    width: auto;
}

.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
   
}

.piano {
    height: 25%;
    background: blue;
    width: 100%;
}


.white {
    color: #000000;
    background: linear-gradient(#dddddd, #FFFFFF);
    width: 3.5%;
    border-radius: 0 0 6px 6px;
    border: 1px solid #000000;
}

.white:active {
    background: linear-gradient(#D3D3D3, #EDEDED);
}

span {
    position: relative;
    bottom: -75%;
}

.black {
    color: #FFFFFF;
    background: linear-gradient(#303030, #212121);
    z-index: 8;
    height: 60%;
    width: 2%;
    border-radius: 0 0 6px 6px;
    margin: 0 -1% 0 -1%;
    font-size: 10px;
}

.black:active {
    background: linear-gradient(#1B1B1B, #151515)
}


