* {
    font-family: "Raleway", sans-serif;
}

/* Reset some default styles for the page */
html, body {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the entire page */
body {
    background-color: #2F1045; /* Light gray background */
    background-image: linear-gradient(150deg, #2f1045, 65%, #6ba8ee);
    margin: 0; /* Remove default margin */
}

/* Style the header */
header,h1 {
    background-color: #1A1520; /* Dark background color */
    color: #fff; /* White text color */
    text-align: center;
    letter-spacing: 3px;
    padding: 20px 0; /* Add some space around the text */
}

/* Style the main content section */
main {
    text-align: center;
}

/* Style the title section */
#title {
    text-align: center; /* Center-align the text */
    padding: 20px; /* Add some padding around the title */
}

/* Style the title text (h1) */
#title h1 {
    font-size: 36px; /* Adjust the font size to make it big */
    color: #FFFFFF; /* Set the text color */
    font-family: "Raleway", sans-serif; /* Apply the Raleway font */
    letter-spacing: 1px;
}

#title h3 {
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
}


#content{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Style the primary buttons inside the content section */
/* Style the primary buttons inside the content section */
.button-primary {
    background-color: #7A00E6; /* Lavender button background color */
    color: #fff; /* White text color */
    word-spacing: 8px;
    letter-spacing: 5px;
    font-weight: 500;
    padding: 50px 100px; /* Increase padding for larger buttons */
    border: none; /* Remove button borders */
    text-decoration: none; /* Remove underlines from links */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin: 50px; /* Add space between buttons */
    font-size: 48px; /* Increase font size for larger buttons */
    border-radius: 20px; /* Add rounded corners */

}


/* Style links inside buttons */
.button-primary a {
    color: #fff; /* White text color for links */
    text-decoration: none; /* Remove underlines from links */
}

/* Change button color on hover */
.button-primary:hover {
    background-color: #6600C0; /* Darker Lavender on hover */
}

/* Style the footer */
footer {
    text-align: center;
    background-color: #1a1520;
    color: #fff;
    position: absolute;
    width: 100%;
}


#googleAuth {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Center-align the Google Sign-In button specifically */
.g-signin2 {
    margin: 0 auto; /* Center horizontally */
}



